:root {
    --primary-color: #132901;
    --accent-color: #e1fa05;
    --highlight-color: #eb3144;
    --light-color: #ffffff;
    --link-visited: #e86be6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI' 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-color);
    color: var(--light-color);
    line-height: 1.6;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}