body {
    font-family: 'futura';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    background-color: #000;
    padding: 1rem 0;
}

.logo {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}